body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #242424;
    color: #fff;
    padding: 10px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    margin: 0;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-left: 20px;
}

.navbar ul li:first-child {
    margin-left: 0;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.produtos {
    background-color: #f0f0f0;
    padding: 20px;
}

.produto {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

.produto h3 {
    margin-top: 0;
}

.produto p {
    margin: 5px 0;
}
