body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 20px auto; /* Centraliza a div horizontalmente */
    padding: 20px;
    background-color: #555;
    border-radius: 10px;
    text-align: center;
}


h1, h2 {
    color: #ddd;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.navbar {    
    padding: 0; /* Ajuste o padding superior e inferior para diminuir a altura */
    margin-bottom: 20px;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    display: inline;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.nav-menu li a:hover {
    background-color: #777;
}

li {
    list-style-type: none;
}

.logo {
    margin: 0;
}

.half {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.resumo-carrinho {
    text-align: center; /* Alinha os totais ao meio */
    margin-top: 20px; /* Adiciona margem superior ao resumo do carrinho */
}
